body {
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}
